// header{
//     position: absolute;
//     top: 0;
//     width: 100%;
//     z-index: 99999;
//     background-color: #ffffff;
// }
.navbar-header{
    img{
        margin: 0;
        padding-bottom: 8px;
    }
    .navbar-brand{
        padding: 0;
    }
}
.menu-right{
    display: flex;
    justify-content: flex-end;
    .header-menu{
        margin-right: 25px;
    }
    .search-bar{
        margin-right: 25px;
        img{
            margin: 0;
        }
    }
    .hamburger-menu{
        img{
            margin: 0;
        }
    }
}
.navbar-nav {
    flex-direction: row;
    li{
        margin: 0 10px;
        a{
            color: #003c60;
        }
    }
}