// header{
//     position: absolute;
//     top: 0;
//     width: 100%;
//     z-index: 99999;
//     background-color: #ffffff;
// }
#head-nav {
    z-index: 999;
}
.hamburger-menu {
    background-color: white;
    border-radius: 50%;
    padding: 0;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    border: 0;
    padding-left: 10px;
    .hbopen-menu {
        display: none;
    }
    &.show-main-menu {
        .hbopen-menu {
            display: block;
        }
    }
    .bar1, .bar2, .bar3 {
        width: 25px;
        height: 3px;
        background-color: #000;
        margin: 6px 0;
        transition: 0.4s;
    }
    .bar2 {
        width: 14px;
    }
}
.navbar-header{
    img{
        margin: 0;
        padding-bottom: 8px;
    }
    .navbar-brand{
        padding: 0;
    }
}
.menu-right{
    display: flex;
    justify-content: flex-end;
    .header-menu{
        margin-right: 25px;
    }
    .search-bar{
        margin-right: 25px;
        img{
            margin: 0;
        }
    }
    .hamburger-menu{
        img{
            margin: 0;
        }
    }
}

header{
    .menu-right{
        .header-menu{
            .navbar-nav {
                flex-direction: row;
                li{
                    margin: 0 10px;
                    a{
                        color: #ffffff;
                    }
                }
            }
            .hbopen-menu{
                position: fixed;
                width: 480px;
                height: 100vh;
                right: 0;
                background: #f1f1f1;
                top: 0;
                z-index: 99;
                padding: 35px;
                transition: all 0.5s;
                transform: translateX(530px);
                .hm-menu{
                    .hm-menu-list{
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        li{
                            a{
                                font-size: 18px;
                                color: #003c61;
                                font-weight: bold;
                            }
                        }
                    }
                }
                .hm-social-media{
                    margin-top: 50px;
                    ul{
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        display: flex;
                        li{
                            margin-right: 10px;
                            a{
                                color: #003c61;
                            }
                        }
                    }
                }
            }
            &.show-main-menu{
                .hbopen-menu{
                    transform: translateX(0);
                }
            }
        }
        .hamburger-menu{
            z-index: 9999; 
            &:focus{
                outline: none;
            }
        }
    }
}
#slider-footer{
    height: auto !important;
    .fp-tableCell{
        height: auto !important;
    }
}