.freeflowhtml{
    .image-wrap{
        img{
            width: 100%;
        }
    }
    .row{
        display: flex;
        align-items: center;
    }
    .promo-home-intro{
        padding: 225px 0 160px;
        background-color: #003c61;
        p{
            font-family: $secondary-font; 
            font-size: 26px;
            color: #fff;
            font-weight: 400;
            margin-bottom: 50px;
        }
    }
    
    .crp-erp-section{
        background: #6230bb;
    }
    .gaming-section{
        background: #f2a81e;
    }
    .hybride-cloud-section{
        background: #009bd7;
    }
    .data-security-section{
        background: #e14a4a;
    }
    .about-company-section{
        padding: 100px 0;
        .content{
            .h2-heading{
                color: #000000;
            }
            .text-medium{
                color: #404040;
                margin-bottom: 50px;
            }
            .text-small{
                font-size: 16px;
                line-height: 28px;
                color: #8a8a8a;
                font-family: $open-sans-font;
                margin-bottom: 50px;
            }
            .btn-primary{
                background: #003c61;
                color: #fff;
            }
        }
    }
}
.Home-top-wraper{
    .slick-slider{
        .slick-list{
            .slick-track{
                .slick-slide{
                    height: 100vh;
                    div{
                        height: 100%;
                        .scroll-section, .promo-home-intro{
                            height: 100%;
                        }
                        .sales-force-section{
                            position: relative;
                            #banner-carousel{
                                .slide-image{
                                    height: 100%;
                                    min-height: 100%;
                                    min-width: 100%;
                                    position: absolute;
                                    right: 0;
                                    width: auto !important;
                                    object-fit: cover;
                                }
                                .caption {
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    top: 50%;
                                    -webkit-transform: translate(0px, -30%) !important;
                                    -moz-transform: translate(0px, -30%) !important;
                                    -ms-transform: translate(0px, -30%) !important;
                                    -o-transform: translate(0px, -30%) !important;
                                    transform: translate(0px, -30%) !important;
                                    width: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.fullpage-wrapper{
    #slide-aboutus{
        .content{
            .h2-heading {
                font-size: 70px;
                font-weight: 600;
                color: #000;
                font-family: $primary-font;
                margin-bottom: 20px;
            }
            .text-medium{
                color: #404040;
                font-size: 20px;
            }
            .text-small{
                font-size: 16px;
                color: #8a8a8a;
                line-height: 28px;
            }
        }
    }
    .fp-section{
        padding-left: 170px;
        &#slider-footer{
            padding-left: 0;
        }
    } 
}
.slick-dots{
    transform: translateY(-50%);
    bottom: 50%;
    text-align: left;
    li{
        color: transparent;
        display: block;
        width: auto;
        height: auto;
        &:before{
            height: 1px;
            display: block;
            width: 50px;
            background: #eaeaea;
            content: '';
        }
        .slick-active {
            color: #cecbcb;
            &:last-child{
                color: gray;
            }
            &:before{
                height: 3px;
                width: 90px;
                background: #696868;
            }
        }
        
    }
}
.promo-align111{
    p{
        color: #fff;
    }
}
#BPOsec{
    background-size: cover;
}
body{
    #fp-nav{
        &.fp-right{
            right: inherit;
            left: 17px;
            ul{
                li{
                    width: 150px;
                    height: 50px;
                    a{
                        display: inline-block;
                        span{
                            width: 30px;
                            height: 1px;
                            border-radius: 0;
                            background-color: #fff;
                            transition: all .1s ease-in-out;
                            left: 40px;
                        }
                        &.active, &:hover{
                            span{
                                width: 60px;
                                border-radius: 0;
                                height: 4px;
                            }
                        }
                    }
                    .fp-tooltip {
                        right: inherit;
                        left: 40px;
                        top: 30px;
                        font-family: "Khand", sans-serif;
                        max-width: 100px;
                        white-space: inherit;
                        font-size: 16px;
                        line-height: 20px;
                    }
                    &:last-child{
                        display: none;
                    }
                }
            }
        }
    }
    &.fp-viewing-About, &.fp-viewing-7, &.fp-viewing-Footer{
        #fp-nav{
            &.fp-right{
                ul{
                    li{
                        a{
                            span{
                                background-color: #000;
                            }
                        }
                        .fp-tooltip{
                            color: #000;
                        }
                    }
                }
            }
        }
    }
    &.fp-viewing-Footer{
        #fp-nav{
          &.fp-right{
              ul{
                  li{
                    //   &:nth-last-child(4n){
                          display: none;
                    //   }
                  }
              }
          }
        }
    }
}